.text{
    top: 25%;
    left: 20%;
    /* -webkit-transform: translate(-25%, -25%);
  -ms-transform: translate(-25%, -25%);
  transform: translate(-25%, -25%); */
}
 .number{
    font-size: 70px;
}
/*
.cont:hover .overlay {
    opacity: 1 !important;
    
  }

.overlay{
    transition: .5s ease;
   
}  */

.overlay{
    overflow: hidden !important;
    width: 100% !important;
    height: 0 !important;
    transition: .5s ease;
}
.text{
    top: 25%;
    left: 20%;
}

.cont:hover .overlay{
    height: 100% !important;
}

.bg-secondary {
   
    opacity: 0.9 !important;
}