/* body {
   height: 100% !important;
  background: linear-gradient(90deg, #FFC0CB 50%, #00FFFF 50%) !important;

  /* background-image: linear-gradient(90deg, black 50%, blue 50%) !important; */
  
/* } */

body {
  /* background: #E1DEE9 */
  /* background: linear-gradient(to bottom, red 0%, blue 100%) no-repeat; */
background: linear-gradient(90deg, #E1DEE9 50%, #E9E9EE 50%);
/* background-size: calc(100%) calc(50%); */
/* background-position: top; */

/* background: linear-gradient(60deg, #E1DEE9 20%, #E9E9EE 0%); */
}
/* body:after {
  content:'';
  position: fixed;
  height: 100%;
  width: 70%;
  left: 30%;
  background: #E9E9EE
} */

/* input[type="text"] {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
                                     } */
input[type="email"]:focus
{
  outline: none !important;
  box-shadow: none;
}

input[type="password"]:focus
{
  outline: none !important;
  box-shadow: none;
}

@media (max-width:886px) {
  .img-hidden{
    display: none !important;
  }
}
